@model Bartender_App.ViewModels.OrderQueueVM

@{
    ViewData["Title"] = "Thanks!";
}

<h3>Your order has been taken and will be brought to you in a few minutes!</h3>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Order Something Else</a>
</div>